---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import indexImage from '../images/rosemary_opava_tattoo_convention.jpg';
---

<Layout
	title="Rosemary"
	navLocaleUrlCs="/"
	navLocaleUrlEn="/"
	currentPage="/"
>
	<main>
		<!-- main index image -->
		<section>
			<Image
				class="indexImage"
				src={indexImage}
				alt="Michaela Halásová aka Rosemary profile photo"
			/>
		</section>
		<!-- about author -->
		<section
			id="#introduction"
			aria-label="author introduction"
		>
			<b>Welcome</b>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos veritatis porro esse nulla id,
				aliquam, numquam aperiam officiis dolore corrupti rerum laboriosam quidem omnis ut enim
				nesciunt tempore ab odit!
			</p>
			<p>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatum, perspiciatis
				minus voluptate quaerat eligendi quo quia dolores repellat soluta dignissimos fugiat
				praesentium, tempore pariatur labore temporibus doloribus quas repellendus.
			</p>
		</section>
		<!-- following images -->
		<section></section>
	</main>

	<style>
		.indexImage {
			width: 100%;
			height: auto;
		}
		#followingImagesWrapper {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			background-color: var(--primary);
			min-height: 100px;
		}
	</style>
</Layout>
